acstools==3.7.2
aiobotocore @ file:///home/conda/feedstock_root/build_artifacts/aiobotocore_1731276079927/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1733124786221/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1735329051909/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1733332106743/work
annotated-types==0.7.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1728935693959/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1725356639941/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asdf==3.5.0
asdf-astropy==0.7.0
asdf_coordinates_schemas==0.3.0
asdf_standard==1.1.1
asdf_transform_schemas==0.5.0
asdf_wcs_schemas==0.4.0
astrocut==0.9
astropy @ file:///Users/runner/miniforge3/conda-bld/astropy-base_1733218867854/work
astropy-iers-data @ file:///home/conda/feedstock_root/build_artifacts/astropy-iers-data_1733111412198/work
astropy_healpix==1.0.3
astroquery==0.4.7
astroscrappy==1.2.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1733519953311/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1733236348445/work
BayesicFitting==3.2.3
beartype==0.21.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1736148489770/work
blis==1.3.0
blosc2==3.0.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1733754687975/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1728459684387/work
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1729268911080/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1734344358292/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
calcos==3.5.1
catalogue==2.0.10
ccdproc==2.4.2
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d8j59rqun5/croot/certifi_1734473289913/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1733218092148/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1733221831880/work
cloudpathlib==0.21.1
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1735328614181/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
confection==0.1.5
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428374110/work
costools==1.2.6
crc32c==2.7.1
crds==12.0.7
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cymem==2.0.11
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1728335015912/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1733267373896/work
dask-expr @ file:///home/conda/feedstock_root/build_artifacts/dask-expr_1733776739380/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1732236743159/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1733273203381/work
donfig==0.8.1.post1
drizzle==2.0.0
drizzlepac==3.7.1.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastai==2.8.2
fastcore==1.8.5
fastdownload==0.0.7
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
fastprogress==1.0.3
fasttransform==0.0.2
filelock==3.16.1
fitsblender==0.4.4
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1733242011802/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1729699498974/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1733493342231/work
future==1.0.0
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
ginga==5.2.0
gwcs==0.22.1
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1734545865062/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1734075161666/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733501342198/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imageio==2.36.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1733231327252/work
ipydatagrid @ file:///home/conda/feedstock_root/build_artifacts/ipydatagrid_1716402110639/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1732896932739/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1733399582966/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1733217336947/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
joblib==1.4.2
jplephem @ file:///home/conda/feedstock_root/build_artifacts/jplephem_1734349820189/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302931775/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1733441322938/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1733428613680/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1733261003191/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
jwst==1.16.1
keyring==25.6.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459207683/work
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml==5.3.0
lz4 @ file:///Users/runner/miniforge3/conda-bld/lz4_1725089431654/work
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.9.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1733258715622/work
more-itertools==10.5.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975043881/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1729065492473/work
munkres==1.1.4
murmurhash==1.0.13
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1733410324217/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1732882344310/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1735670330811/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
ndindex==1.9.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
nictools==1.1.5
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1715848908871/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numcodecs==0.14.1
numexpr==2.10.2
numpy==2.2.6
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878422361/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
Parsley==1.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
photutils==1.12.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1729065665052/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plum-dispatch==2.5.7
poppy==1.1.1
preshed==3.0.10
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733301941627/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1733302527033/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1728545755528/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1729847073461/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
puremagic==1.28
py-cpuinfo==9.0.0
py2vega @ file:///home/conda/feedstock_root/build_artifacts/py2vega_1614765500626/work
pyarrow==18.1.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.7
pydantic_core==2.33.2
pyerfa @ file:///Users/runner/miniforge3/conda-bld/pyerfa_1731377705632/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1733221634316/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1732987042813/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1733168734406/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1733222594562/work
PyPDF2==3.0.1
pysiaf==0.24.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pysynphot==2.0.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyvo==1.6
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456234629/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1728642247675/work
QtPy==2.4.2
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1733366743674/work
reftools==2.2.0
reproject==0.14.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==14.0.0
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1733274961981/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1733599048660/work
scikit-image==0.25.0
scikit-learn==1.6.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1733620711099/work/dist/scipy-1.14.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=59695ed48122d71fa549373e02177b8a73b4706dd591353ade6b0dd908c966e8
semantic-version==2.10.0
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1733322099476/work
setuptools==75.6.0
shellingham==1.5.4
simplify_polyline==0.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733216807016/work
smart_open==7.3.0.post1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spherical_geometry==1.3.2
srsly==2.5.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stcal==1.9.0
stdatamodels==2.1.2
stistools==1.4.4
stpipe==0.7.0
stregion==1.1.9
stsci.image==2.3.9
stsci.imagestats==1.8.3
stsci.skypac==1.0.10
stsci.stimage==0.2.9
stsci.tools==4.1.1
stsynphot==1.4.0
stwcs==1.7.3
sympy==1.14.0
synphot==1.5.0
tables==3.10.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1733842374544/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1710263781917/work
thinc==8.3.6
threadpoolctl==3.5.0
tifffile==2025.1.10
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch==2.7.1
torchvision==0.22.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615911982/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
tweakwcs==0.8.9
typer==0.16.0
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733279635066/work
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1733235305708/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1729704654513/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1733206856906/work
wasabi==1.1.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel==0.4.1
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733312072533/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
wfc3tools==1.5.0
wfpc2tools==1.0.5
wheel==0.45.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
wiimatch==0.3.2
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1732523654576/work
-e git+https://github.com/QosmicQi/XRBID.git@0f4316e7d8fecf5da9e3e7b048b8c18d5717afc9#egg=XRBID
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1733143442470/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1732220985543/work
zarr==3.0.0
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
